<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">

	<resultMap type="Phone" id="PhoneResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Model" property="model" />
		<id column="Resolution" property="resolution" />
		<association property="brand" javaType="Brand" resultMap="BrandResult">
			<id property="brand" column="Brand_ID" />
		</association>
		<association property="OS" javaType="Os" resultMap="OsResult">
			<id property="os" column="OS_ID" />
		</association>
		<association property="Display" javaType="Display"
			resultMap="DisplayResult">
			<id property="display" column="Display_ID" />
		</association>
		<association property="Year" javaType="Year" resultMap="YearResult">
			<id property="year" column="Year_ID" />
		</association>
	</resultMap>

	<resultMap type="Fridge" id="FridgeResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Model" property="model" />
		<association property="brand" javaType="Brand" resultMap="BrandResult">
			<id property="brand" column="Brand_ID" />
		</association>
		<association property="colour" javaType="Colour"
			resultMap="ColourResult">
			<id property="colour" column="Colour_ID" />
		</association>
		<association property="coolSyst" javaType="CoolSyst"
			resultMap="CoolSyst">
			<id property="coolSyst" column="CoolSyst_ID" />
		</association>
		<association property="constrType" javaType="ConstrType"
			resultMap="ConstrTypeResult">
			<id property="constrType" column="ConstrType_ID" />
		</association>
	</resultMap>

	<resultMap type="Brand" id="AddressResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="NAME" property="name" />
	</resultMap>

	<resultMap type="OS" id="OsResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Name" property="name" />
	</resultMap>

	<resultMap type="Display" id="DisplayResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Type" property="type" />
	</resultMap>

	<resultMap type="Year" id="YearResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Year" property="year" />
	</resultMap>

	<resultMap type="Colour" id="ColourResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Colour" property="colour" />
	</resultMap>

	<resultMap type="CoolSyst" id="CoolSystResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="Type" property="type" />
	</resultMap>

	<resultMap type="ConstrType" id="ConstrTypeResult"
		autoMapping="false">
		<id column="ID" property="id" />
		<id column="Type" property="type" />
	</resultMap>

	<resultMap type="Origin" id="OriginResult" autoMapping="false">
		<id column="ID" property="id" />
		<id column="COUNTRY" property="name" />
		<id column="CITY" property="city" />
		<association property="brand" javaType="Brand" resultMap="BrandResult">
			<id property="brand" column="Brand_ID" />
		</association>
	</resultMap>
</mapper>