<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="database.properties" />

	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias alias="Phone" type="com.qaprosoft.objects.Phone" />
		<typeAlias alias="Fridge" type="com.qaprosoft.objects.Fridge" />
		<typeAlias alias="Brand" type="com.qaprosoft.objects.Brand" />
		<typeAlias alias="Colour" type="com.qaprosoft.objects.Colour" />
		<typeAlias alias="ConstrType" type="com.qaprosoft.objects.ConstrType" />
		<typeAlias alias="CoolSyst" type="com.qaprosoft.objects.CoolSyst" />
		<typeAlias alias="Display" type="com.qaprosoft.objects.Display" />
		<typeAlias alias="Origin" type="com.qaprosoft.objects.Origin" />
		<typeAlias alias="OS" type="com.qaprosoft.objects.OS" />
		<typeAlias alias="Year" type="com.qaprosoft.objects.Year" />
	</typeAliases>

	<environments default="PROD">
		<environment id="PROD">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${PROD.onliner.db.driver}" />
				<property name="url" value="${PROD.onliner.db.url}" />
				<property name="username" value="${PROD.onliner.db.user}" />
				<property name="password" value="${PROD.onliner.db.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper class="com.qaprosoft.dao.PhoneMapper" />
		<mapper class="com.qaprosoft.dao.FridgeMapper" />

		<mapper resource="mappers/PhoneMapper.xml" />
		<mapper resource="mappers/FridgeMapper.xml" />
		<mapper resource="mappers/General_Mapper.xml" />
	</mappers>

</configuration>